.collapse-container {
    width: 80%;
    background-color: $color-secondary;
    border-radius: 10px;

    .description-container {
        @include flex(row, space-between, center);
        background-color: $color-primary;
        height: 2.5rem;
        font-size: 18px;
        font-weight: 100;
        color: $color-secondary;
        padding: 0 15px;
        border-radius: 7.5px;
    }

    .collapse-content-container {
        .collapse-content {
            color: $color-primary;
            padding: 15px;
            font-size: 15px;
            list-style-position: inside;
            list-style-type: none;
        }
    }

    &.active {
        background-color: white;

        .collapse-content {
            display: none;
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        width: 100%;
    }
}

.arrow {
    transform: rotate(0deg);
    transition: 400ms ease-in-out;
}
.rotated {
    transform: rotate(180deg);
    transition: 400ms ease-in-out;
}
