.rate-container {
    margin: 1rem 0;
    text-align: right;

    .rate-star {
        padding-left: 0.8rem;
        font-size: 18px;
        color: $color-primary;

        &.star-grey {
            color: #e3e3e3;
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        width: 100%;
        text-align: initial;

        .rate-star {
            padding-left: 0.3rem;
            font-size: 16px;
        }
    }
}
