.not-found-container {
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    gap: 60px;
    color: $color-primary;

    .not-found-content {
        @include flex(column, center, center);
        padding-bottom: 4rem;

        .not-found-title {
            font-weight: 700;
            font-size: 25vw;
            margin: 0;
        }

        p {
            font-weight: 500;
            font-size: 3vh;
            text-align: center;
        }
    }

    .return-link {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 2.25vh;
        text-decoration: underline;
        color: $color-primary;
    }

    @media screen and (max-width: $breakpoint-small) {
        .not-found-content {
            p {
                font-size: 1.2em;
            }
        }

        .return-link {
            font-size: 1em;
        }
    }
}
